.destination {
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    padding-top: 150px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.destination h2 {
    font-weight: 300;
    color: #eee;
    padding: 20px 0 20px 200px;
}

.destination h2 span {
    color: #666;
    letter-spacing: 3px;
    font-weight: bold;
    padding-right: 20px;
}

.destination-info {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.destination-title {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    width: 30%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #b7b7b7;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}

.navbar a.active {
    border-bottom: 3px solid #fff;
}

.destination-title h1 {
    font-size: 100px;
    color: #fff;
    letter-spacing: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.destination-title p {
    line-height: 22px;
    color: #ccc;
    width: 76%;
}

.destination-logo img {
    width: 80%;
}

.travel {
    display: flex;
    align-items: center;
    gap: 100px;
}

.travel small {
    line-height: 22px;
    font-size: 10px;
    color: #ccc;
    padding-bottom: 5px;
    display: inline-block;
}

.travel h3 {
    text-transform: uppercase;
}

@media(max-width:992px) {
    .destination-title {
        width: 100%;
        align-items: center;
    }

    .destination-info {
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 50px;
        margin-top: 20px;
    }

    .destination {
        background-image: url('../../assets/destination/background-destination-mobile.jpg');
    }

    .destination h2 {
        padding: 20px;
        text-align: center;
    }

    .destination-title p {
        text-align: center;
    }

    .destination-logo {
        text-align: center;
    }
}

@media(max-width:576px) {

    .destination {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }

    .destination-title {
        gap: 20px;
    }

    .destination-title h1 {
        font-size: 70px;
    }

    .destination-title p {
        text-align: center;
        font-size: 13px;
    }

    .destination h2 {
        font-size: 20px;
    }

    .navbar a {
        font-size: 14px;
    }
}
