.technology {
    background-image: url('../../assets/technology/background-technology-desktop.jpg');
    padding-top: 150px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.technology h2 {
    font-weight: 300;
    color: #eee;
    padding: 20px 0 20px 200px;
}

.technology h2 span {
    color: #666;
    letter-spacing: 3px;
    font-weight: bold;
    padding-right: 20px;
}

.technology-info {
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 200px;
}

.technology-title {
    display: flex;
    gap: 50px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.nav-link a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}

.nav-link a.active {
    color: #333;
    background-color: #fff;
}

.technology-information {
    font-family: system-ui;
}

.technology-information span {
    color: #ccc;
    font-weight: 300;
}

.technology-information h1 {
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 10px;
}

.technology-information p {
    color: rgba(255, 255, 255, 0.437);
    font-size: 14px;
    line-height: 20px;
    padding-right: 50px;
}

.technology-logo img {
    width: 460px;
    max-height: 500px;
    object-fit: contain;
}

@media(max-width:992px) {
    .technology-info {
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        margin-top: 20px;
        padding: 0;
    }
    
    .technology-title {
        padding-left: 50px;
        flex-direction: column;
    }

    .nav-link {
        flex-direction: row;
        justify-content: start;
    }

    .technology {
        background-image: url('../../assets/technology/background-technology-mobile.jpg');
    }

    .technology h2 {
        padding: 20px;
        text-align: center;
    }

    .technology-logo {
        text-align: center;
    }

    .navbars {
        margin-bottom: 50px;
    }
}

@media(max-width:576px) {

    .technology {
        background-image: url('../../assets/technology/background-technology-tablet.jpg');
    }

    .technology h2 {
        font-size: 20px;
    }

    .technology-logo img {
        width: 80%;
    }

    .technology-title {
        flex-direction: column;
        gap: 20px;
    }

    .nav-link a {
        width: 40px;
        height: 40px;
    }

    .technology-information h1 {
        font-size: 36px;
    }

    .technology-information span, .technology-information p {
        font-size: 10px;
    }

}
